<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
    <div class="form">
        <form action="{{ url_for('courseupdate') }}" method="POST">
            <h3>Update Information</h3>
            Course ID<br>
            <input type="text" name = "cno" required minlength="1" maxlength="2" oninvalid="this.setCustomValidity('Invalid course ID')" oninput="setCustomValidity('')"/><br>

            Course Name<br>
            <input type="text" name = "cname" required minlength="8" maxlength="20" oninvalid="this.setCustomValidity('Invalid course name')" oninput="setCustomValidity('')"/><br>

            Course Code<br>
            <input type="text" name = "cc" required minlength="4" maxlength="6" oninvalid="this.setCustomValidity('Invalid course code')" oninput="setCustomValidity('')"/><br><br>

            <input type="submit" value="Update" /><br><br>
            <button><a href="/" style="text-decoration:none; color: inherit;">Cancel</a></button>
        </form>
    </div>
    </body>
</html>