<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
    <div class="form">
         <form action="{{ url_for('deleterec') }}" method="POST">
             <h2>Enter ID number</h2>
             ID number<br>
             <input type="text" name="id" required minlength="9" maxlength="9" oninvalid="this.setCustomValidity('Invalid ID')" oninput="setCustomValidity('')"/><br><br>
             <input type="submit" value="Delete" /><br><br>
             <button><a href="/" style="text-decoration:none; color: inherit;">Cancel</a></button>
         </form>
    </div>
    </body>
</html>